.card{
    border: 1px solid gray;
    background-color: white;
    width: 290px;
    height: 355px;
    position: relative;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.card-star{
    color: orange;
     position: absolute;
     top: 10px;
     right: 10px;
     font-size: 16px;
     font-weight: bold;
     text-align: right;
}
.card-description{
    margin-left: 6px;
}
.espaço{
height: 50px;
visibility: hidden;
}
.espaço2{
    height: 8px;
    visibility: hidden;
}
.card-image img{
    height: auto;
    width: 60%;
    position: center;
    display: block;
    margin: 0 auto;
}
.card-desconto{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6px;
}
.risco{
    text-decoration: line-through;
    color: rgba(91, 91, 91)
}
.preço{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-price{
    font-size: 22px;
    display: flex;
    margin-left: 6px;
    align-items: center;
    color: orangered;
}
.desconto{
    font-size: 15px;
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    background-color: orangered;
}
.card-parcelamento{
    font-size: 10px;
    margin-left: 6px;
    color: rgba(91, 91, 91);
}
.card-buttom-buy{
    width: 95%;
    height: 40px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 6px;
    text-align: center;
    vertical-align: middle;
}
.botao{
    background-color: orangered;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.body{
    display: flex;

}
